body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

caption {
  font-weight: bold;
}
.animal-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  align-content: center;
}
.animal-table th,
.animal-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

.main-title {
  background: #4a6fa5;
  color: white;
}

.header-row {
  background-color: #f9f9f9;
  font-weight: bold;
}

.category {
  font-weight: bold;
  background-color: #f9f9f9;
}

.animal-table img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}
