span {
  color: green;
  font-style: italic;
  font-weight: bold;
}
#one {
  width: 60%;
  text-align: right;
  background-color: lavender;
  margin-bottom: 0px;
  margin-top: 0px;
}
#two {
  width: 25%;
  padding-top: 30px;
  padding-right: 30px;
  border: 5px solid black;
  margin-top: 0px;
}
#three {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 0px;
  border: 5px solid blue;
}
#four {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 0px;
  border: 5px solid black;
}

#five {
  width: 80%;
  border: 5px solid black;
  margin: auto;
}

img {
  width: 100%;
}
